.nav {
  padding: 2rem 0;
}
.nav-link {
  color: #333;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.nav-link:visited {
  color: #222;
}
.nav-link:hover {
  border-bottom: 2px solid #222;
}

.home_hero {
  background-image: url("https://cnet2.cbsistatic.com/img/tlNkP_rJU7P5_K3CWTYxV0owtbs=/970x0/2017/01/06/5db5251d-ab13-46b3-83e7-10e4f4886dba/doe-electrical-grid-graphic.jpg");
  background-position: center;
}
.home_hero h1,
.home_hero h2 {
  color: #fff;
}
